div(flex-container="row", flex-gutter="24")
    div(flex-item="9")
        .card(class="p+")
            h1 Upload file
            lx-text-field(label="Upload")
            button.btn.btn--green.btn--raised Upload
