extends layouts/Main

block content
    br
    //- div(flex-container='row', flex-gutter='24')
    //-     div(flex-item)
    //-         .card
    //-             div(flex-container="row", flex-gutter="24")
    //-                 div(flex-item="4")
    //-                     .toolbar
    //-                         lx-search-filter(model='searchFilter.first', filter-width='100%', placeholder="ค้นหาข้อมูลตัวชี้วัด...")
    //- br
    div(flex-container="row", flex-gutter="24", ng-controller="MainController")
        div#chart1(flex-item="6")
            highchart(config='chartConfig')
        div(flex-item="6")
            highchart(config='chartConfig2')
    br
    span.fs-headline.display-block
        i.icon.icon--m.icon--grey.icon--flat.mdi.mdi-content-paste
        | &nbsp; 
        span.tc-black-2 ตัวชี้วัดงานอนามัยแม่ และ เด็ก
    div(flex-container="row", flex-gutter="24")
        div(flex-item)
            div(class="card p+")
                .data-table-container
                    table.data-table.data-table--has-primary.data-table--has-secondary
                        thead
                            tr
                                th
                                th รหัส
                                th ตัวชี้วัด
                                th เป้าหมาย
                                th ผลงาน
                                th
                            tr
                                td.divider.divider--dark(colspan='6')
                        tbody
                            tr.data-table__clickable-row
                                td
                                    i.icon.icon--s.icon--green.icon--circled.mdi.mdi-crosshairs-gps
                                td
                                    span G1I1.4
                                td
                                    span อัตราการเสียชีวิตจากการจมน้ำของเด็กอายุต่ำกว่า 15 ปี (ไม่เกิน 6.5/แสนประชากร)
                                td
                                    span 1800
                                td
                                    span 900
                                td
                                    lx-dropdown(position='right', from-top='')
                                        button.btn.btn--l.btn--grey.btn--icon(lx-ripple='', lx-dropdown-toggle='')
                                            i.mdi.mdi-dots-vertical
                                        lx-dropdown-menu
                                            ul
                                                li
                                                    a.dropdown-link Action
                                                li
                                                    a.dropdown-link Another action
                            tr.data-table__clickable-row
                                td
                                    i.icon.icon--s.icon--red.icon--circled.mdi.mdi-crosshairs
                                td
                                    span G5I24.4 
                                td
                                    span นักเรียนชั้น ป.1 ที่มีการได้ยินผิดปกติได้รับการช่วยเหลือ/แก้ไข/ส่งต่อ ไม่น้อยกว่าร้อยละ 80
                                td
                                    span 580
                                td
                                    span 450
                                td
                                    lx-dropdown(position='right', from-top='')
                                        button.btn.btn--l.btn--grey.btn--icon(lx-ripple='', lx-dropdown-toggle='')
                                            i.mdi.mdi-dots-vertical
                                        lx-dropdown-menu
                                            ul
                                                li
                                                    a.dropdown-link Action
                                                li
                                                    a.dropdown-link Another action
                                                li
                                                    a.dropdown-link Something else here
    br
    div(flex-container="row", flex-gutter="24")
        div(flex-item=)
            div(class="card p+")
                .data-table-container
                    table.data-table.data-table--has-primary.data-table--has-secondary
                        thead
                            tr
                                th
                                th รหัส
                                th ตัวชี้วัด
                                th เป้าหมาย
                                th ผลงาน
                                th
                            tr
                                td.divider.divider--dark(colspan='6')
                        tbody
                            tr.data-table__clickable-row
                                td
                                    i.icon.icon--s.icon--green.icon--circled.mdi.mdi-crosshairs-gps
                                td
                                    span G1I1.4
                                td
                                    span อัตราการเสียชีวิตจากการจมน้ำของเด็กอายุต่ำกว่า 15 ปี (ไม่เกิน 6.5/แสนประชากร)
                                td
                                    span 1800
                                td
                                    span 900
                                td
                                    lx-dropdown(position='right', from-top='')
                                        button.btn.btn--l.btn--grey.btn--icon(lx-ripple='', lx-dropdown-toggle='')
                                            i.mdi.mdi-dots-vertical
                                        lx-dropdown-menu
                                            ul
                                                li
                                                    a.dropdown-link Action
                                                li
                                                    a.dropdown-link Another action
                            tr.data-table__clickable-row
                                td
                                    i.icon.icon--s.icon--red.icon--circled.mdi.mdi-crosshairs
                                td
                                    span G5I24.4 
                                td
                                    span นักเรียนชั้น ป.1 ที่มีการได้ยินผิดปกติได้รับการช่วยเหลือ/แก้ไข/ส่งต่อ ไม่น้อยกว่าร้อยละ 80
                                td
                                    span 580
                                td
                                    span 450
                                td
                                    lx-dropdown(position='right', from-top='')
                                        button.btn.btn--l.btn--grey.btn--icon(lx-ripple='', lx-dropdown-toggle='')
                                            i.mdi.mdi-dots-vertical
                                        lx-dropdown-menu
                                            ul
                                                li
                                                    a.dropdown-link Action
                                                li
                                                    a.dropdown-link Another action
                                                li
                                                    a.dropdown-link Something else here
                                                    
