extends layouts/Main

block scripts
  script(src='/javascripts/main/MainCtrl.js')
  script(src='/javascripts/main/MainServ.js')
  script(src='/javascripts/main/ResultProvinceCtrl.js')

block content
  ui-view